<div class="C2Scontent">
    <!--
        <div class="searcharea">
                <input type="text" class="input_search" name="keyword" value=""/>
                <input type="button" class="button red btn_search" value="검색"/>
        </div>
        -->
    <div class="left-area">
        <div class="noticebox">
            <h4 class="t-align-c">Com2us 지식공유 사이트에<br /> 오신것을 환영합니다</h4>
            <h5 class="t-align-c">
                이곳에서는 개발관련 노하우 공유는 물론<br />
                google신보다 빠르게 우리에게 필요한 <br />
                정보를 공유하고자 합니다. <br />
                누구나 쉽게 질문하고 답변을 등록 할 수 있습니다. <br />
                당신의 노하우를 자랑해 주세요~ <br /><br />
                <h3>* 퀵 링크</h3>
                <a href="https://jira.gamevilcom2us.com/wiki/pages/viewpage.action?pageId=140546128">사용 가이드</a><br />
                <a href="https://jira.gamevilcom2us.com/wiki/pages/viewpage.action?pageId=140542552">작성 가이드</a><br />
                <a href="https://jira.gamevilcom2us.com/wiki/pages/viewpage.action?pageId=140542565">게시물에 태그를 추가하는 방법</a><br />
                <a href="https://jira.gamevilcom2us.com/wiki/pages/viewpage.action?pageId=140543801">수식 표기법(MathJax)</a><br />
            </h5>
        </div>
        <div class="tagbox">
            <h4 class="t-align-c">popular tags</h4>
            {{#each model.popular_tags as |row|}}
            <a href="/tags/{{row.name}}" class="tag discourse-tag simple button">{{row.name}}({{row.topic_count}})</a>
            {{/each}}
        </div>
    </div>

    <div class="right-area">
        <div class="list-box">
            <table style="width:100%">
                <thead>                
                    <tr>
                        <td style="width:15%"></td>
                        <td style="width:65%"></td>
                        <td style="width:10%"></td>
                        <td style="width:10%"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:80%">
                            <span><a href="/c/qna/">Answers</a></span>
                            <span onMouseEnter={{ action "show_tip" }} onMouseLeave={{ action "hide_tip"  }}>
                                {{d-icon "question-circle"}}
                            </span>
                            <span>개발관련 질의는 물론 잡학한 질문들까지 다양하게 의견을 나누는 공간입니다</span>
                        </td>
                        <td style="width:10%">
                            REPLIES
                        </td>
                        <td style="width:10%">
                            VIEWS
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.qna_list as |row|}}
                    <tr>
                        <td>{{row.created_dt}}</td>
                        <td><a href="/t/topic/{{row.id}}">{{row.title}}</a></td>
                        <td>{{row.posts_count}}</td>
                        <td>{{row.views}}</td>
                    </tr>
                    {{/each}}       
                </tbody>
            </table>
        </div>
        <div class="list-box">
            <table style="width:100%">
                <thead>                
                    <tr>
                        <td style="width:15%"></td>
                        <td style="width:65%"></td>
                        <td style="width:10%"></td>
                        <td style="width:10%"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:80%">
                            <span><a href="/c/dv-guide/">개발가이드</a></span>
                            <span onMouseEnter={{ action "show_tip" }} onMouseLeave={{ action "hide_tip"  }}>
                                {{d-icon "question-circle"}}
                            </span>
                            <span>나만 알고 있는 노하우, 함께 알아두면 좋은 이슈들을 누구라도 공유하는 공간입니다.</span>
                        </td>
                        <td style="width:10%">
                            REPLIES
                        </td>
                        <td style="width:10%">
                            VIEWS
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.guide_list as |row|}}
                    <tr>
                        <td>{{row.created_dt}}</td>
                        <td><a href="/t/topic/{{row.id}}">{{row.title}}</a></td>
                        <td>{{row.posts_count}}</td>
                        <td>{{row.views}}</td>
                    </tr>
                    {{/each}}       
                </tbody>
            </table>
        </div>
        <div class="list-box">
            <div class="boxlabel">
                <span><a {{action "go_to" '/shaders' }}>Shader Room</a></span>
                <span onMouseEnter={{ action "show_tip" }} onMouseLeave={{ action "hide_tip"  }}>
                    {{d-icon "question-circle"}}
                </span>
                <span>쉽게 쉐이더를 적용해보고 나의 쉐이더를 공유하는 공간입니다.</span>                
            </div>
            {{#each model.shader_list as |row|}}
            <div class="postbox">
                <ul>
                    <li><a {{action "go_to" (concat '/shaders/' row.id) }}>
                            <div style="border: 1px solid lightgrey;">
                                <img src="{{ row.img_data }}" width="100%" height="150" alt="Com2uS Developer" style="display:block;"></div>
                        </a></li>

                    <li style="padding-top:5px;">
                        <div class="over-text-dot">
                            <a {{action "go_to" (concat '/shaders/' row.id) }}>{{row.title}}</a>
                        </div>
                        <div>
                            <span class="shader-box-username">by.{{ row.username }} ♥ {{ row.like_count }}</span>

                        </div>
                    </li>
                </ul>
            </div>
            {{/each}}
        </div>
        <div class="list-box">
            <table style="width:100%">
                <thead>                
                    <tr>
                        <td style="width:15%"></td>
                        <td style="width:65%"></td>
                        <td style="width:10%"></td>
                        <td style="width:10%"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:80%">
                            <span><a href="/c/unity-qna/">Unity Q&A</a></span>
                            <span onMouseEnter={{ action "show_tip" }} onMouseLeave={{ action "hide_tip"  }}>
                                {{d-icon "question-circle"}}
                            </span>
                            <span>유니티에 질의한 내용을 정리한 공간 입니다.</span>
                        </td>
                        <td style="width:10%">
                            {{d-icon 'far-comment'}}
                        </td>
                        <td style="width:10%">
                            {{d-icon 'far-eye'}}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.unity_list as |row|}}
                    <tr>
                        <td>{{row.created_dt}}</td>
                        <td><a href="/t/topic/{{row.id}}">{{row.title}}</a></td>
                        <td>{{row.posts_count}}</td>
                        <td>{{row.views}}</td>
                    </tr>
                    {{/each}}       
                </tbody>
            </table>
        </div>
    </div>
</div>