<div class="C2Scontent">
    <!--
        <div class="searcharea">
                <input type="text" class="input_search" name="keyword" value=""/>
                <input type="button" class="button red btn_search" value="검색"/>
        </div>
        -->
    <div class="left-area">
        {{#if false}}
        <div class="noticebox">
            <h4>Com2us 지식공유 사이트에 오신것을 환영합니다</h4>
            <span class="fs-12">
                <br />
                이곳에서는 개발관련 노하우 공유는 물론
                google신보다 빠르게
                우리에게 필요한 정보를 공유하고자 합니다. <br /><br />
                누구나 쉽게 질문하고 답변을 등록 할 수 있습니다. <br /><br />
                당신의 노하우를 자랑해 주세요~ <br />
                {{#if false}}
                <h3>* 퀵 링크</h3>
                <a href="https://jira.gamevilcom2us.com/wiki/pages/viewpage.action?pageId=140546128">사용 가이드</a><br/>
                <a href="https://jira.gamevilcom2us.com/wiki/pages/viewpage.action?pageId=140542552">작성 가이드</a><br/>
                <a href="https://jira.gamevilcom2us.com/wiki/pages/viewpage.action?pageId=140542565">게시물에 태그를 추가하는 방법</a><br/>
                <a href="https://jira.gamevilcom2us.com/wiki/pages/viewpage.action?pageId=140543801">수식 표기법(MathJax)</a><br/>
                {{/if}}
            </span>
        </div>
        {{/if}}
        <div class="category-box">
                <a href="/c/qna/">
                    <div class="category-link">
                        <span class="fs-25">{{d-icon "far-edit"}}</span><span>질문게시판</span>
                        <span class="fs-15 f-r">{{d-icon "chevron-right"}}</span>
                    </div>
                </a>
                <a href="/c/dv-guide/">
                    <div class="category-link">
                        <span class="fs-25">{{d-icon "chalkboard-teacher"}}</span><span>개발가이드</span>
                        <span class="fs-15 f-r">{{d-icon "chevron-right"}}</span>
                    </div>
                </a>
                <a href="/c/unity-qna/">
                    <div class="category-link">                        
                        <span><img src="/images/unity_icon.png" height=25 width=25 style="padding:4.8px 0;"></span><span>유니티 질의응답</span>
                        <span class="fs-15 f-r">{{d-icon "chevron-right"}}</span>
                    </div>
                </a>
                <a href="/c/qaex/">
                    <div class="category-link">                        
                        <span><img src="/images/qa.png" height=25 width=25 style="padding:4.8px 0;"></span><span>QA이슈해결사례</span>
                        <span class="fs-15 f-r">{{d-icon "chevron-right"}}</span>
                    </div>
                </a>
                <a {{action "go_to" '/shaders' }}>
                    <div class="category-link">
                        <span class="fs-25">{{d-icon "shapes"}}</span><span>쉐이더룸</span>                        
                        <span class="fs-15 f-r">{{d-icon "chevron-right"}}</span>
                    </div>
                </a>                
        </div>      
        <div class="site-guide-box">
                <div class="guide-opener" {{action "guide_tab"}}>
                    <span class="fs-25">{{d-icon "info-circle"}}</span><span>사이트 사용방법</span>
                        <span class="fs-15 f-r">
                            {{#if guide_is_open}}     
                                {{d-icon "chevron-down"}}
                            {{else}}
                                {{d-icon "chevron-right"}}
                            {{/if}}
                        </span>
                </div>
                {{#if guide_is_open}}     
                <div>
                    <ul>
                        <li><a href="https://jira.gamevilcom2us.com/wiki/pages/viewpage.action?pageId=140546128" target="_blank">사용가이드</a></li>
                        <li><a href="https://jira.gamevilcom2us.com/wiki/pages/viewpage.action?pageId=140542552" target="_blank">작성가이드</a></li>
                        <li><a href="https://jira.gamevilcom2us.com/wiki/pages/viewpage.action?pageId=140542565" target="_blank">게시물에 태그를 추가하는 방법</a></li>
                        <li><a href="https://jira.gamevilcom2us.com/wiki/pages/viewpage.action?pageId=140543801" target="_blank">수식 표기법(MathJax)</a></li>
                    </ul>
                </div>
                {{/if}}
        </div>
        <div class="tagbox">
            <div class="tags-label">
                <span class="fs-25">{{d-icon "tag"}}</span><span>인기 태그</span>
            </div>
            {{#each model.popular_tags as |row|}}
            <a href="/tags/{{row.name}}" class="tag discourse-tag simple button">{{row.name}}({{row.topic_count}})</a>
            {{/each}}
        </div>
        <div class="category-box mt-20">
                <a href="http://developers.withhive.com/" target="_blank">
                    <div class="category-link">
                        <span class="fs-25">{{d-icon "h-square"}}</span><span>하이브 개발자 사이트</span>
                        <span class="fs-15 f-r">{{d-icon "chevron-right"}}</span>
                    </div>
                </a>
        </div>
        <div class="category-box">
                <a href="https://jira.gamevilcom2us.com/wiki/display/CDG/C2U_Developer+Guide+Home" target="_blank">
                    <div class="category-link">
                        <span class="fs-25">{{d-icon "confluence"}}</span><span>컨플루언스 가이드 바로가기</span>
                        <span class="fs-15 f-r">{{d-icon "chevron-right"}}</span>
                    </div>
                </a>
        </div>
    </div>

    <div class="right-area">
        <div class="list-box">
            <table style="width:100%">
                <colgroup>
                    <col width="15%">
                    <col width="65%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr>
                        <td colspan="2" style="width:80%">
                            <span><a href="/c/qna/">질문게시판</a></span>
                            <span onMouseEnter={{ action "show_tip" }} onMouseLeave={{ action "hide_tip"  }}>
                                {{d-icon "question-circle"}}
                            </span>
                            <span>개발관련 질의는 물론 잡학한 질문들까지 다양하게 의견을 나누는 공간입니다</span>
                        </td>
                        <td style="width:10%">
                            {{d-icon 'far-comment-dots'}}
                        </td>
                        <td style="width:10%">
                            {{d-icon 'far-eye'}}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.qna_list as |row|}}
                    <tr>
                        <td>{{row.created_dt}}</td>
                        <td><a href="/t/topic/{{row.id}}">{{row.title}}</a></td>
                        <td>{{row.posts_count}}</td>
                        <td>{{row.views}}</td>
                    </tr>
                    {{/each}}       
                </tbody>
            </table>
        </div>
        <div class="list-box">
            <table style="width:100%">
                <colgroup>
                    <col width="15%">
                    <col width="65%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr>
                        <td colspan="2" style="width:80%">
                            <span><a href="/c/dv-guide/">개발가이드</a></span>
                            <span onMouseEnter={{ action "show_tip" }} onMouseLeave={{ action "hide_tip"  }}>
                                {{d-icon "question-circle"}}
                            </span>
                            <span>나만 알고 있는 노하우, 함께 알아두면 좋은 이슈들을 누구라도 공유하는 공간입니다.</span>
                        </td>
                        <td style="width:10%">
                            {{d-icon 'far-comment-dots'}}
                        </td>
                        <td style="width:10%">
                            {{d-icon 'far-eye'}}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.guide_list as |row|}}
                    <tr>
                        <td>{{row.created_dt}}</td>
                        <td><a href="/t/topic/{{row.id}}">{{row.title}}</a></td>
                        <td>{{row.posts_count}}</td>
                        <td>{{row.views}}</td>
                    </tr>
                    {{/each}}       
                </tbody>
            </table>
        </div>
        <div class="list-box">
            <table style="width:100%">
               <colgroup>
                    <col width="15%">
                    <col width="65%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>                
                <thead>
                    <tr>
                        <td colspan="2" style="width:80%">
                            <span><a href="/c/unity-qna/">Unity Q&A</a></span>
                            <span onMouseEnter={{ action "show_tip" }} onMouseLeave={{ action "hide_tip"  }}>
                                {{d-icon "question-circle"}}
                            </span>
                            <span>유니티에 질의한 내용을 정리한 공간 입니다.</span>
                        </td>
                        <td style="width:10%">
                            {{d-icon 'far-comment-dots'}}
                        </td>
                        <td style="width:10%">
                            {{d-icon 'far-eye'}}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.unity_list as |row|}}
                    <tr>
                        <td>{{row.created_dt}}</td>
                        <td><a href="/t/topic/{{row.id}}">{{row.title}}</a></td>
                        <td>{{row.posts_count}}</td>
                        <td>{{row.views}}</td>
                    </tr>
                    {{/each}}       
                </tbody>
            </table>
        </div>
        <div class="list-box">
            <table style="width:100%">
               <colgroup>
                    <col width="15%">
                    <col width="65%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>                
                <thead>
                    <tr>
                        <td colspan="2" style="width:80%">
                            <span><a href="/c/qaex/">QA이슈해결사례</a></span>
                            <span onMouseEnter={{ action "show_tip" }} onMouseLeave={{ action "hide_tip"  }}>
                                {{d-icon "question-circle"}}
                            </span>
                            <span>QA 사례들을 정리한 공간입니다.</span> 
                        </td>
                        <td style="width:10%">
                            {{d-icon 'far-comment-dots'}}
                        </td>
                        <td style="width:10%">
                            {{d-icon 'far-eye'}}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.qa_list as |row|}}
                    <tr>
                        <td>{{row.created_dt}}</td>
                        <td><a href="/t/topic/{{row.id}}">{{row.title}}</a></td>
                        <td>{{row.posts_count}}</td>
                        <td>{{row.views}}</td>
                    </tr>
                    {{/each}}       
                </tbody>
            </table>
        </div>
        <div class="list-box">
            <div class="boxlabel">
                <span><a {{action "go_to" '/shaders' }}>쉐이더룸</a></span>
                <span onMouseEnter={{ action "show_tip" }} onMouseLeave={{ action "hide_tip"  }}>
                    {{d-icon "question-circle"}}
                </span>
                <span>쉽게 쉐이더를 적용해보고 나의 쉐이더를 공유하는 공간입니다.</span>                
            </div>
            {{#each model.shader_list as |row|}}
            <div class="postbox">
                <ul>
                    <li><a {{action "go_to" (concat '/shaders/' row.id) }}>
                            <div style="border: 1px solid lightgrey;">
                                <img src="{{ row.img_data }}" width="100%" height="150" alt="Com2uS Developer" style="display:block;"></div>
                        </a></li>

                    <li style="padding-top:5px;">
                        <div class="over-text-dot">
                            <a {{action "go_to" (concat '/shaders/' row.id) }}>{{row.title}}</a>
                        </div>
                        <div>
                            <span class="shader-box-username">by.{{ row.username }} ♥ {{ row.like_count }}</span>

                        </div>
                    </li>
                </ul>
            </div>
            {{/each}}
        </div>        
    </div>
</div>