<div class="C2Scontent">
    <div class="devtwo-area">
        <div class="devtwo-top">
            <div class="devtwo-description">
                <span class="fs-20">Com2us 지식공유 사이트에 오신것을 환영합니다. </span><a href="https://jira.gamevilcom2us.com/wiki/pages/viewpage.action?pageId=140542562" target="_blank">{{d-icon "hand-point-right"}} 사이트 가이드(컨플루언스)</a><br>
                <span class="fs-15">이곳에서는 개발관련 노하우 공유는 물론 google신보다 빠르게 우리에게 필요한 정보를 공유하고자 합니다.<br/>
                누구나 쉽게 질문하고 답변을 등록 할 수 있습니다. 당신의 노하우를 자랑해 주세요~<br/>
                </span>            
            </div>            
            <div class="devtwo-search" style="float:right;margin-left:5px; border:0px;">
                <form class="form-search" style="border-bottom:1px solid black;">
                    <input type="text" class="form-text" maxlength="128" placeholder="Search">
                    {{d-icon "search"}}                    
                </form>
            </div>
        </div>
        <div class="devtwo-list">            
            <table class="devtwo-table">                
                <tbody>                
                    <tr>
                        <td class="borard-descripton" rowspan="6">
                            <div class="fs-20"><a href="/c/qna/">Answers</a></div>
                            <div>개발관련 질의는 물론 잡학한 질문들까지 다양하게 의견을 나누는 공간입니다</div>
                            <div>
                                <span class="fs-15 c-1e9cd8">100</span> topics
                            </div>
                        </td>
                    </tr>
                    {{#each model.qna_list as |row|}}
                    <tr>                        
                        <td>{{d-icon "circle"}} <a href="/t/topic/{{row.id}}">{{row.title}}</a></td>                        
                    </tr>
                    {{/each}}                    
                </tbody>
                <tbody>                
                    <tr>
                        <td class="borard-descripton" rowspan="6">
                            <div class="fs-20"><a href="/c/dv-guide/">개발가이드</a></div>
                            <div>나만 알고 있는 노하우, 함께 알아두면 좋은 이슈들을 누구라도 공유하는 공간입니다.</div>
                            <div>
                                <span class="fs-15 c-1e9cd8">100</span> topics
                            </div>
                        </td>
                    </tr>
                    {{#each model.guide_list as |row|}}
                    <tr>                        
                        <td>{{d-icon "circle"}} <a href="/t/topic/{{row.id}}">{{row.title}}</a></td>                        
                    </tr>
                    {{/each}}                  
                </tbody>
                <tbody>                
                    <tr>
                        <td class="borard-descripton" rowspan="6">
                            <div class="fs-20"><a {{action "go_to" '/shaders' }}>Shader Room</a></div>
                            <div>쉽게 쉐이더를 적용해보고 나의 쉐이더를 공유하는 공간입니다.</div>
                            <div>
                                <span class="fs-15 c-1e9cd8">100</span> topics
                            </div>
                        </td>
                    </tr>                    
                    <tr> 
                        
                        <td>
                            {{#each model.shader_list as |row|}}                       
                            <div class="devtwo-shader-box">
                                <a {{action "go_to" (concat '/shaders/' row.id) }}>
                                <div style="border: 1px solid lightgrey;">
                                    <img src="{{ row.img_data }}" width="100%" height="150" alt="Com2uS Developer" style="display:block;"></div>
                                </a>
                            </div>
                            {{/each}}
                        </td>
                    </tr>                    
                </tbody>
                <tbody>                
                    <tr>
                        <td class="borard-descripton" rowspan="6">
                            <div class="fs-20"><a href="/c/unity-qna/">Unity Q&A</a></div>
                            <div>유니티에 질의한 내용을 정리한 공간 입니다.</div>
                            <div>
                                <span class="fs-15 c-1e9cd8">100</span> topics
                            </div>
                        </td>
                    </tr>
                    {{#each model.unity_list as |row|}}
                    <tr>                        
                        <td>{{d-icon "circle"}} <a href="/t/topic/{{row.id}}">{{row.title}}</a></td>                        
                    </tr>
                    {{/each}}                 
                </tbody>                                                
            </table>
        </div>
    </div>
</div>