<script>
	
	$(window).on('beforeunload', function(){
		return '지금 이 페이지를 벗어나면 작성 정보는 저장되지 않습니다.\r\n 정말 페이지를 나가시겠습니까?';
	});
	Shader.shader_params.img_gui = '<%= @shader.img_url ? @shader.img_url : "" %>';
	Shader.shader_params.title = '<%= @shader.title ? @shader.title : "" %>';
	Shader.shader_params.content = '<%= @shader.content ? @shader.content : "" %>';
</script>

<div class="shader-left-box" style="width:60%; height:1200px; float:left; padding-left:1px;">
	<div style="width:100%; height:31px; border-bottom:1px solid lightgrey;">		
                <button id="btn-scene" class="btn btn-default btn btn-icon-text ember-view active" onclick="Shader.select_tab(this)">
                        <span class="d-button-label">Scene</span>
                </button>
                <button id="btn-code" class="btn btn-default btn btn-icon-text ember-view" onclick="Shader.select_tab(this)">
                        <span class="d-button-label">Code</span>
                </button>
		<button id="btn-compile" class="btn btn-default btn btn-icon-text ember-view" style="width:150px; float:right;" onclick="Shader.code_compile()">
                       	<span class="d-button-label">Compile</span>
                </button>
	</div>
	<div id="tab-scene" class="tab-view" style="width:100%; height:531px; border:1px solid lightgrey; display:block;">
		<div id="btnbox-in-code" style="width:100%; height:30px; border-bottom:1px solid lightgrey;">			
                	<button id="btn-fbx" class="btn btn-default btn btn-icon-text ember-view active" style="width:95px;">
        	                <span class="d-button-label">FBX</span>
	                </button><button id="btn-fbx-add" class="btn btn-default btn btn-icon-text ember-view" style="width:30px; padding: 6px 5px;" onclick="Shader.add_fbx()">
				<i class="fas fa-plus d-icon d-icon-plus" style="margin:0px;"></i>
	                </button>			
		</div>
		<!--<img src="/images/K-249.png" style="width:100%; height:465px;"></img>-->
		<div id="scene-view" style="width:100%; height:501px;">
			<div class="scene-error"></div>
		</div>		
	</div>
	<div id="tab-code" class="tab-view" style="width:100%; min-height:450px; height:auto; display:none;">
		<div id="btnbox-in-code" style="width:100%; height:30px; border-bottom:1px solid lightgrey;">			
                	<button id="btn-vertex" class="btn btn-default btn btn-icon-text ember-view active" style="width:95px;" onclick="TabVertex(true)" value='VERTEX'>
        	                <span class="d-button-label">vertex</span>
	                </button><button id="btn-vertex-add" class="btn btn-default btn btn-icon-text ember-view" style="width:30px; padding: 6px 5px;" onclick="Shader.add_vertex()" value='VERTEX'>
				<i class="fa fa-plus d-icon d-icon-plus" style="margin:0px;"></i>
	                </button>			
			<button id="btn-fragment" class="btn btn-default btn btn-icon-text ember-view" style="width:95px;" onclick="TabFrag(true)" value='FRAGMENT'>
                        	<span class="d-button-label">fragment</span>
                	</button><button id="btn-fragment-add" class="btn btn-default btn btn-icon-text ember-view" style="width:30px; padding: 6px 5px;" onclick="Shader.add_fragment()" value='FRAGMENT'>
				<i class="fa fa-plus d-icon d-icon-plus" style="margin:0px;"></i>
                	</button>
		</div>
		<div id="code-view" class="tab-view-sub" style="width:100%; height:450px; overflow:auto; box-sizing: border-box;"></div>		
		<div id="shader-error" style="max-height:200px; width:100%; padding:10px 5px; border:1px solid lightgrey; box-sizing:border-box; overflow:auto;">
			<p style="color:red; text-align:center">error console</p>
			<p id="code_vert_error"></p>
			<p id="code_frag_error"></p>
		</div>
	</div>
	<div class="write-form" style="width:100%; height:auto;">
		<table class="write-table"  cellpadding="15" cellspacing="5px">
			<tr>
				<td>제목</td>
				<td>
					<input id="shader_title" type="text" placeholder="제목을 작성 해 주세요" style="margin:0; border:0; width:100%; box-sizing:border-box;" value="<%= @shader.title %>"/>
				</td>
			</tr>
			<tr>
				<td>설명</td>
				<td>
					<textarea id="shader_content" style="width:100%; height:100px; padding: 10px; margin:0; box-sizing:border-box; resize:none; border:0;" 
					placeholder="쉐이더를 간략하게 설명 해 주세요"><%= @shader.content %></textarea>
				</td>
			</tr>
			<tr>
				<td>Screenshot</td>
				<td style="border:0px;">
					<span style="float:right; line-height:30px;">추가된 이미지가 없으면 현재 쉐이더 화면이 캡쳐됩니다.</span>
					<button class="btn img-add-btn" style="width:auto;" onclick="Shader.add_upload_img()">
        	        	        	<span>Upload</span>
	                		</button>
					<% if @board_state == 'new' %>
						<button class="btn img-remove-btn" style="width:auto; display:none;" onclick="Shader.remove_upload_img()">
							<span>Remove</span>
						</button>
						<img class="img-preview" src="#" width="100%" height="auto" style="border:1px solid lightgrey; display:none;"></img>
					<% elsif @board_state == 'edit' %>
						<button class="btn img-remove-btn" style="width:auto;" onclick="Shader.remove_upload_img()">
							<span>Remove</span>
						</button>
						<img class="img-preview" src="<%= @shader.img_data %>" width="100%" height="auto" style="border:1px solid lightgrey;"></img>
					<% end %>
					<input class="img-upload" type="file" accept=".png" onchange="Shader.set_upload_img(this)" style="display:none;">
				</td>
			</tr>

		</table>
		<div class="submit-form" style="width:100%; height:30px;">
			<% if @board_state == 'new' %>
			<button id="btn-fragment" class="btn btn-default btn btn-icon-text ember-view" style="width:150px; float:right; margin-right:7px;" 
				onclick="Shader.shader_submit_confirm('new')">
                        	<span class="d-button-label">Submit</span>
                	</button>
			<% elsif @board_state == 'edit' %>
			<button id="btn-fragment" class="btn btn-default btn btn-icon-text ember-view" style="width:150px; float:right; margin-right:7px;" 
				onclick="Shader.shader_submit_confirm('edit')">
                        	<span class="d-button-label">modify</span>
                	</button>
			<% end %>
			<div id="compile_message" style="display:inline-block; height:100%; float:right; padding:5px 20px; 0 0; color:red;">
			</div>
		</div>

	</div>
</div>
<div style="width:35%; height:760px; float:left; padding: 30px 10px 10px 10px;">	
	<div id="dat-view" style="width:100%; height:auto; float:right;">
		<!--<img src="/images/K-250.png" style="width:100%; height:100%;"></img>-->
	</div>
</div>
<%= render 'shaders/bktree' %>

<script type="text/javascript">

	$(function(){				
		Shader.onLoading();//로딩창on

		var shader_id = <%= @shader.id.nil? ? false : @shader.id %>;
		var board_state = '<%= @board_state %>';
		console.log(board_state);
		if(shader_id){
			$.ajax({
	                        url:'/shaders/bktree',
				type: 'GET',
                        	data: {
					id: shader_id,
	                        },
               		        success:function(data){
						if(data.error){
							console.log(data.error);
							SetBoardState(StateEnum.ERROR);
						}else{
							Shader.set_shader_params(data);
							SetDBData(data.shader.fbx_text, data.shader.vertex_text,
                		                        data.shader.fragment_text, decodeURI(data.shader.dat_gui_text));
						}

						if(board_state=='show'){	
							SetBoardState(StateEnum.VIEW);
						}else if(board_state=='edit'){
							SetBoardState(StateEnum.MODIFY);
						}
						Shader.shader_render();
				}
			});
		}else{
			if(localStorage.is_set=='yes'){
				SetBoardState(StateEnum.QUICK);
				SetDBData(localStorage.fbx, localStorage.vertex, localStorage.fragment, '');
			}else{
      		                SetBoardState(StateEnum.WRITE);
			}
			Shader.shader_render();
		}
	});
</script>
