<div class="searcharea">
                   <input type="text" id="search_keyword" name="keyword" value="" placeholder="Shader 검색" onkeydown="Shader.keychk()" class="input_search">
                   <input type="button" value="검색" onclick="Shader.search()" class="button red btn_search">
</div>

<div class="list-controls">
	<div class="container">
	<section id="ember768" class="navigation-container ember-view"> 
                <!-- 
		<ol id="ember782" class="category-breadcrumb ember-view">
			<li id="ember807" class="select-kit single-select combobox combo-box category-drop is-below is-left-aligned has-reached-minimum box ember-view">
				<div title="전체 카테고리" aria-haspopup="" aria-label="전체 카테고리" tabindex="0" id="ember820" class="select-kit-header combo-box-header category-drop-header is-none ember-view">
					<span class="selected-name">
						<span class="category-name">전체 카테고리</span>
					</span>
				</div>
			</li>
		</ol>-->
		<ul id="navigation-bar" class="nav nav-pills ember-view">  
			<li title="가장 최근 Shader" id="latest" class="ember-view">
				<a href="/shaders">최근글</a>
			</li>
			<% if current_user %>
				<li title="북마크한 글" id="bookmark" class="ember-view">
					<a href="/shaders?type=bookmark">즐겨찾기</a>
				</li>
				<li title="내가 게시한 글" id="my" class="ember-view">
					<a href="/shaders?type=my">내 글</a>
				</li>
			<% end %>
		</ul>
		<% if current_user %>
			<button id="create-topic" class="btn btn-default btn btn-icon-text ember-view" onclick="CreateWidget.open()">
				<i class="fas fa-plus d-icon d-icon-plus"></i>				
				<span class="d-button-label">새로 만들기</span>
			</button>
		<% end %>
			<a href="http://devgit.com2us.com/JBK/SRinWeb" target="_blank" rel="noopener noreferrer">
				<button class="btn btn-default btn btn-icon-text ember-view">
					<i class="fas fa-link d-icon d-icon-plus"></i>
				<span class="d-button-label">Shader Converter</span>
				</button>
			</a>
			<a href="/shaders/guide" target="_blank" rel="noopener noreferrer">
				<button class="btn btn-default btn btn-icon-text ember-view">
					<i class="fas fa-question d-icon d-icon-plus"></i>
				<span class="d-button-label">작성 가이드</span>
				</button>
			</a>
	</section>
	</div>
</div>

<div class="C2Scontent">

        <div class="boxlist">
		<% @shaders.each do |shader| %>
			<div class="shader-box">
				<ul>
					<li><a href="/shaders/<%= shader.id %>"><div>
						<% if shader.img_data %>
						<img src="<%= shader.img_data %>" width="100%" height="150" alt="Com2uS Developer" style="display:block;">
						<% else %>
						이미지가 없습니다.
						<% end %>
						</div></a>
					</li>
					<li>
						<div><a href="/shaders/<%= shader.id %>" class="default-hover"><strong title="<%= shader.title %>"> <%= shader.title %>  </strong></a></div>
						<div>
							<button class="default-hover btn-flat" onclick="ShaderUser.open(<%= shader.user_id %>)">
		                                        <span class="shader-box-username">by.<%= shader.user.username%></span>
                			                </button> ♥ <%= shader.like_count %>
						</div>
					</li>
				</ul>
			</div>
		<% end %>

		<div style="width:100%; height:30px; text-align:center; float:left">
			<a href="/shaders?type=<%= @type %>&p=<%= @p-5 %>&keyword=<%= @keyword %>"><<</a>
			<% @p_a.each do |num| %>
				<a href="/shaders?type=<%= @type %>&p=<%= num %>&keyword=<%= @keyword %>">
					<% if @p==num %>
						<b><%= num %></b>
					<% else %>
						<%= num %>
					<% end %>
				</a>
			<% end %>
			<a href="/shaders?type=<%= @type %>&p=<%= @p+5 %>&keyword=<%= @keyword %>">>></a>
		</div>
        </div>
<!--
        <div class="rightbox">
                <div class="noticebox">
                        <h3 class="t-align-c">ShaderRoom 에<br> 오신것을 환영합니다</h3>
                        <h5 class="t-align-c">
                                이곳에서는 Shader 노하우 공유는 물론<br>
                                우리이게 필요한 정보를 <br>
                                공유하고자 합니다. <br>
                                누구나 쉽게 질문하고 답변을 등록 할 수 있습니다. <br>
                                당신의 노하우를 자랑해 주세요~ <br><br>
                                *퀵 링크<br>
                                <a href="#">ShaderRoom 회원 가입</a><br>
                                <a href="#">ShaderRoom 사용 가이드</a><br>
                                <a href="#">Com2uS Developer 로 가기</a><br>
                        </h5>
                </div>
                <div class="tagbox">
                        <h3 class="t-align-c">popular tags</h3>
                                <a href="#" class="tag discourse-tag simple button">light(10)</a>
                                <a href="#" class="tag discourse-tag simple button">diffuse(6)</a>
                                <a href="#" class="tag discourse-tag simple button">water(5)</a>
                                <a href="#" class="tag discourse-tag simple button">fire(3)</a>
                                <a href="#" class="tag discourse-tag simple button">summon(2)</a>
                </div>
        </div>
-->
</div>

		<div class="create-widget">
			<div class="widget-table-box">
				<center>
					<table align="center">
						<thead>
							<tr>
								<th colspan=5>
									<button id="widget-close" class="btn widget-close" onclick="CreateWidget.close()">
										<i class="fas fa-times d-icon d-icon-plus"></i>
									</button>
								</th>
							</tr>
							<tr>
								<th></th>
								<th colspan=4 style="text-aling:center; background-color:#e9e9e9; border-radius:10px;">퀵 프로젝트 만들기</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th></th>
								<th>FBX</th>
								<th>Vertex</th>
								<th>Fragment</th>
								<th></th>
							</tr>
							<tr>
								<td></td>
								<td>
									<button id="widget-fbx" class="btn widget-add" onclick="CreateWidget.add_fbx()">
										<i class="fa fa-plus d-icon d-icon-plus"></i>
									</button>
								</td>
								<td>
									<button id="widget-vertex" class="btn widget-add" onclick="CreateWidget.add_vertex()">
										<i class="fa fa-plus d-icon d-icon-plus"></i>
									</button>
								</td>
								<td>
									<button id="widget-fragment" class="btn widget-add" onclick="CreateWidget.add_fragment()">
										<i class="fa fa-plus d-icon d-icon-plus"></i>
									</button>
								</td>
								<td>
									<button id="widget-arrow" class="btn widget-arrow" onclick="CreateWidget.send_new()">
										<i class="fa fa-arrow-right d-icon d-icon-plus"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td colspan=5>
									<hr/>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td colspan=3>
									<button id="widget-empty" class="btn widget-empty" onclick="CreateWidget.create_empty()">
										<span class="d-button-label">빈 프로젝트 만들기</span>
									</button>
								</td>
								<td>
								</td>
							</tr>
						</tbody>
					</table>
				</center>
				<%= form_with id: :quick_form, url: '/shaders/new' do |form| %>
					<%= form.file_field :fbxFile, accept: ".fbx", id: :fbxFile %>
					<%= form.file_field :vertexFile, accept: "text/*", id: :vertexFile %>
					<%= form.file_field :fragFile, accept: "text/*", id: :fragFile %>
				<% end %>
			</div>
		</div>
<script type="text/javascript">

$(function(){
	Shader.index_params.type = '<%= @type %>';
	Shader.index_params.p = '<%= @p %>';
	Shader.index_params.keyword = '<%= @keyword %>';
	
	switch(Shader.index_params.type){
		case 'bookmark':
			$('#bookmark').addClass('active');
			break;
		case 'my':
			$('#my').addClass('active');
			break;
		default:
			$('#latest').addClass('active');

	}
});

</script>
