<div class="container">
  {{discourse-banner user=currentUser banner=site.banner}}
</div>

{{#if false}}
<div class="searcharea">
                 <input type="text" class="input_search" id="search_keyword" name="keyword" value="" placeholder="주제, 글, 사용자, 카테고리 검색" onkeydown="ecowiki.keychk()"/>
                 <input type="button" class="button red btn_search" value="검색" onclick="ecowiki.search()"/>
</div>
{{/if}}

<div class="list-controls">
  <div class="container">
    {{outlet "navigation-bar"}}
    <div class="devtwo-search" style="float:right;margin-left:5px; border:0px;">
      <form class="form-search" style="border-bottom:1px solid black; padding:0; margin:0;">
        <input type="text" class="form-text" maxlength="128" placeholder="Search">
          {{d-icon "search"}}                    
      </form>
    </div>       
  </div>  
</div>

{{conditional-loading-spinner condition=loading}}

<div class="container list-container {{if loading "hidden"}}">
  <div class="row">
    <div class="full-width">
      <div id="header-list-area">
        {{outlet "header-list-container"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="full-width">
      <div id="list-area">
        {{plugin-outlet name="discovery-list-container-top"
                        args=(hash category=category listLoading=loading)}}
        {{outlet "list-container"}}
      </div>
    </div>
  </div>
</div>

{{plugin-outlet name="discovery-below"}}
