<!DOCTYPE html>
<html lang="<%= SiteSetting.default_locale %>">
<head>
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) : SiteSetting.title %></title>
  <meta name="description" content="">
  <%= render partial: "layouts/head" %>
  <%= render partial: "common/discourse_stylesheet" %>
  <%= discourse_csrf_tags %>

  <%= theme_lookup("head_tag") %>
  <style>
    .list-controls .container {
	width: 100%;
    }
    .boxlist {
	width: 100%;
    }
    #create-topic {
	margin-right: 12px;
    }
    .shader-box ul li{
    }
    .shader-box{
        float: left;
        width: 25%;
        height: 200px;
    }
    .shader-box li{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .shader-box li:nth-child(1) div {
	width: 99%;
	height: 150px;
	border: 1px solid lightgrey;
	line-height:150px;
	text-align:center;
    }
    .shader-box li:nth-child(1) img {
	width: 100%;
	height: 100%;
    }
   
    .shader-box li:nth-child(2) div {
	max-width: 50%;
	float: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
	padding-left: 5px;
    }
    .shader-box li:nth-child(2) div:nth-child(2) a{
	color: inherit;
    }
    .noshow {
      display: none;
    }
    ul {
      margin: 0 5px 5px 0;
    }
    .btn.active {
      color: #fff;
      background-color: #e45735;
    }
    .write-form table { 
      border-collapse: separate;
      border-spacing: 8px;
    }

    .write-form table tr {
	margin-bottom:5px;
    }

    .write-form table tr td:nth-child(odd){ 
	width: 150px;
    }

    .write-form table tr td:nth-child(even){
	width: 95%;
	border: 1px solid lightgrey;	
    }
    .widget-button:hover, .default-hover:hover {
	background: #e9e9e9;
    }    
    .liked{
	color: #fa6c8d;
    }
    .bookmarked{
	color: #08c;
    }
    .loading {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -4px;
        left: 0;
        z-index: 99999;
        background: rgba(0, 0, 0, 0.5);
        display: none;
    }
    .loading p {
        position: relative;
        top: 50%;
        margin: -75px auto 0 auto;
        width: 200px;
        height: 50px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background: #fff;
        box-sizing: border-box;
        padding: 0 30px;
        text-align: center;
        font-size: 16px;
        color: #555;
    }
    .loading p strong {
        display: block;
        padding-top: 15px;
        font-style: italic;
    }
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -4px;
        left: 0;
        z-index: 1001;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        text-align: center;
        vertical-align: middle;
    }
    .overlay-inbox{
        position: relative;
        top: 30%;
        margin: -75px auto 0 auto;
        width: auto;
    	max-width: 500px;
        height: auto;
	    max-height: 250px;
	    min-height: 50px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background: #fff;
        box-sizing: border-box;
        padding: 0 30px;
        text-align: center;
        font-size: 16px;
        color: #555;
    	width: auto;
    }
    .overlay-inbox strong {
        display: block;
        padding-top: 15px;
        font-style: italic;
    	color:red;
    }
    .shader-pop-close, .shader-pop-check {
        width: 30px;
        height: 30px;
        padding: 0px;
        font-size: 20px !important;
        border-radius: 15px;
        margin-bottom: 10px;
    }
    .shader-pop-close > i,.shader-pop-check > i{
    	margin-right: 0px !important;
    }
    .create-widget {
        width: 400px;
        height: 300px;
        border: 1px solid lightgray;
        border-radius: 25px;
        position: relative;
        background-color:white;
        display: none;
        box-shadow:0 -1px 40px rgba(0,0,0,0.12);	
        top: 30%;
        margin: -75px auto 0 auto;
    }
    .create-widget table{
      border-collapse: separate;
      border-spacing: 8px 0px;
    }
    .create-widget table th {
	font-size: 15px;
	margin-bottom: 5px;
	width: 100px;
    }
    .create-widget table tr {
	text-align: center;
    }
    .create-widget  i{
	margin-right: 0px !important;
    }
    .widget-table-box {
	display:inline-block;
	height:100%;
	width:100%;
	margin-top:15px;
    }
    .widget-add {
	width: 100px;
	font-size: 50px !important;
	padding: 10px 15px 10px 20px;
	margin: 0px !important;
	float: none !important;
	border-radius: 15px;
    }
    .widget-arrow {
	width: 40px;
	font-size: 20px !important;
	padding: 5px 0px;
	margin: 0px !important;
	float: none !important;
	border-radius: 5px;
    }
    .widget-close{
	width: 30px;
	height: 30px;
	padding: 0px;
	font-size: 20px !important;
	margin: -5px 2px 5px 0 !important;
	float: right !important;
    border-radius: 15px;
    }    
    .widget-empty{
	width: 316px;
	height: 80px;
	font-size: 20px !important;
	margin: 0px !important;
	float: none !important;
	border-radius: 15px;
    }
    .widget-empty span {
	font-weight: bold;
    }
    .c > .button {
	color: white;
	display: block;	
	background-color: #1a1a1a !important;
	background:none;
	border: 0px;
    }
    .c > .button:hover {
        text-decoration: none;
        color: #666;
        background: none;
    }
    .scene-error {
	width:100px;
	height:50px;
	z-index:100;
	display:block;
	position:relative;
	float:right;
	top:calc(100% - 51px);
	color:red;
	font-weight:bold;
	text-align:center;
	line-height:50px;
    }
    .comment-box{
	height: 40%;
	padding: 5px 10px;
	border-top: 1px solid lightgrey;
    }
    .comment-write {
	width:95%;
	height:auto;
	padding:5px 5px 5px 15px;
	display:inline-block;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 5px;
    }
    .comment-write textarea, .comment-edit {
	border: 1px solid lightgrey;
    }
    .comment-submit {
	width: 50px;
	font-size: 25px !important;
	padding: 7px 0px 7px 0px;
	margin: 0px 5px !important;
	float: none !important;
	border-radius: 5px;
	position: absolute;
    }
    
    .comment-submit i {
	margin: 0px !important;
    }

    .comment-raw {
	width:95%;
	height:auto;
	padding:5px 5px 10px 5px;
	border-bottom: 1px solid lightgrey;
	display:inline-block;
    }
    .comment-view {
	width:85%;
	resize:none;
	height:auto;
	margin:0px;
	border:0px;
	background-color:white !important;
	cursor:default !important;
    }

    .comment-view:focus {
	box-shadow: none;
    }
    
    .comment-edit {
	width:85%;
	resize:none;
	height:auto;
	max-height:150px;
	margin:0px;
    }

    .avatar-div {
	width:50px;
	margin-right:10px;
	float:left;
    }
    .user-info-widget {
	display:none;
	width: 550px;
	height: auto;
	border: 1px solid lightgray;
	border-radius: 25px;
	position: relative;
	background-color:white;
	box-shadow:0 -1px 40px rgba(0,0,0,0.12);	
	top: 30%;
        margin: -75px auto 0 auto;
	padding-bottom: 10px;
    }
    .user-info-widget table{
      border-collapse: separate;
      border-spacing: 8px 0px;
    }
    .user-info-widget table th {
	font-size: 15px;
	margin-bottom: 5px;
	width: 100px;
    }
    .user-info-widget table .user-info-summary span span:nth-child(1) {
	font-size: 20px;
    }
    .user-info-widget table .user-info-summary span span:nth-child(2) {
	color: darkgray;
	font: small-caption;
	margin: 0px 5px;
    }
    .user-info-widget  i{
	margin-right: 0px !important;
    }
    .user-info-widget table tbody{
	text-align: left;
    }
    .user-info-widget table tbody tr td span:nth-child(1) {
	font-weight: bold;
	font-size: 15px;
	padding-left: 20px;
	margin-right: 10px;
    }
    .user-info-widget table tbody tr td span:nth-child(2) {
	color: darkgray;
	font: small-caption;
    }
    .user-info-widget table tbody tr td div:nth-child(1) {
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
	padding-left: 10px;
	margin-right: 10px;
	max-width: 150px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
    }
    .user-info-widget table thead tr:nth-child(3){
	height:70px;
    }
    .user-info-widget table thead tr:nth-child(3) th:nth-child(2){
	text-align:left;
	font-size:30px;
    }
    .shader-guide-widget {
	width:100px;
	height:100px;
	position:fixed;
	border-radius: 25px;
    }
    .shader-guide-widget div{
	height: 50%;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
    }
    .shader-guide-widget div:nth-child(1){
	border-radius: 25px 25px 0px 0px;
	background-color: #e9e9e9;
	margin-bottom: 2px;
    }
    .shader-guide-widget div:nth-child(2){
	border-radius: 0px 0px 25px 25px;
	background-color: #e9e9e9;
    }
    .shader-guide-widget div:nth-child(1):hover {
	background-color: #919191;
	color: white;
    }
    .shader-guide-widget div:nth-child(2):hover {
	background-color: #919191;
	color: white;
    }
    .shader-notice-title {
	word-break: break-all;
	font-size: 25px;
    }

    .shader-notice-username {
	cursor: pointer;
	font-size: 17px;
	font-style: italic;
    }
    .btn {
        line-height: inherit !important;
    }
    .btn:hover {
        background: #919191;
        color: #fff;
    }

  </style>

  <!-- bktree -->
  <style>
    
    body{
      /* set margin to 0 and overflow to hidden, to use the complete page
      Three.min.js : Three.js의 축소버전
      UglifyJS : 정상 크기의 1/4
      Three.js : 일반적인 Three.js라이브러리
      */
      /*
      font-family: Monospace;
      background-color: gray;
      color: #fff;
      margin: 0px;
      overflow: hidden;
      */
    }
  
    #info {
      color: #fff;
      position: absolute;
      left: 10px;
      top: 10px;
      width: 100%;
      text-align: center;
      z-index: 100;
      display:white;
    }

    #info a {
      color: #046;
      font-weight: bold;
    }
  
    .CodeMirror {
      font-size: 110%;
      line-height: 1.3;
      width: 100%;
      height: 600px;
      right: : 10px;
      height: 100%;
    }
  
    .CodeMirror-scroll {
      min-height: 200px;
      max-height: 600px;
    }
    .CodeMirror-linenumbers { padding: 0 8px; }
  
    #GUIediotor {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 50%;
      height: 100%;
    }
    #output {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 50%;
      height: 100%;
      z-index: 1;
    }

    #fbxFile { display: none; }
    #vertexFile { display: none; }
    #fragFile { display: none; }

    #textureFile0 { display: none; }
    #textureFile1 { display: none; }
    #textureFile2 { display: none; }
    #textureFile3 { display: none; }
    #textureFile4 { display: none; }
    #textureFile5 { display: none; }
    #textureFile6 { display: none; }
    #textureFile7 { display: none; }
    #textureFile8 { display: none; }
    #textureFile9 { display: none; }
    #textureFile10 { display: none; }
    #textureFile11 { display: none; }
    #textureFile12 { display: none; }
    #textureFile13 { display: none; }
    #textureFile14 { display: none; }
    #textureFile15 { display: none; }
    #textureFile16 { display: none; }
    #textureFile17 { display: none; }
    #textureFile18 { display: none; }
    #textureFile19 { display: none; }
    #textureFile20 { display: none; }

    canvas {
	position: absolute;
    }
    .dg.ac {
	position: relative !important;
    }
    .dg.main.a{
	max-height: 760px;
	overflow-y: auto;
	width: 370px !important;
    }
    .dg.main.a > ul{
	max-height: 740px;
    }

</style>
  <%= preload_script "shaders_manifest" %>
  <%= discourse_stylesheet_link_tag "bktree_manifest" %>
  <%= preload_script "bktree_manifest" %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body <% if @custom_body_class %>class="<%= @custom_body_class %>"<% end %>>
  <%= theme_lookup("header") %>
  <%= build_plugin_html 'server:header' %>
  <section class="loading">
	<p><strong>로딩중...</strong></p>		
  </section>
  <section id='main'>
    <%= render partial: 'header' %>
    <div id="main-outlet" class="<%= @container_class ? @container_class : 'wrap' %>">
      <%= yield %>
    </div>
  </section>
  <%= theme_lookup("footer") %>
  <%= build_plugin_html 'no-client:footer' %>
  <%= build_plugin_html 'server:before-body-close' %>
</body>
</html>
